
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --primary: #29e9bc;
    --normal: #ffffff;
    --black: #13131a;
    --bg: #0c1013;
    --danger: #f75842;
    --border: 0.1rem solid rgba(255,255,255,0.3);

    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

}

 
/* universal selector  */

*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    list-style: none;
    transition: all 0.5s linear;
    scroll-behavior: smooth;

}


/* custom scrollbar  */
::-webkit-scrollbar{
width: 10px;
}
::-webkit-scrollbar-track{
    background:var(--normal) ;
}
::-webkit-scrollbar-thumb{
    background: var(--black);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--danger);
}

body{
    line-height:1.7;
    color: var(--normal);
    background: var(--bg);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
}
.section{
    padding: 6rem 0;
}

.section h2{
   text-align: center; 
   margin-bottom: 4rem;
}

h1,h2,h3,h4,h5{
    line-height: 1.2;
}

h1{
   font-size: 2.4rem;
}
h2{
    font-size: 2rem;
}
 
h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.3rem;
}

a{
    color: var(--normal);
}

img{
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn{
  display: inline-block;
  background-color: var(--primary);  
  color: var(--black);
  padding: 0.5rem 2rem;
  border: 1px solid transparent;
  border-radius: 0.3rem; 
  font-weight: 500;
}

 .btn:hover{
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
 } 

 .border-bottom{
    text-align: center;
    display: inline-block;
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    margin-bottom: 2.5rem;

    }

/* nav section start  */

    nav{
        background-color: var(--black);
        width:100vw ;
        height: 5rem;
        position: fixed;
        top:0;
        z-index:1000;
    }

    .window-scroll{
        background-color: #13131a;
    }


   .nav-container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
   }
   .nav-container span{
    color: var(--primary);
   }
      .nav-container h2::first-letter{
        font-size: 3rem;
  }

     .nav-container h2:hover{
        color: var(--primary);
        transform: rotateX(360deg);
        transition-duration: 1.2s;
     }

    nav button{
        display: none;
    }
    .nav-manu{
       display: flex;
       align-items: center;
       gap: 3rem;
    }
    .nav-manu a{
       font-size: 1rem; 
    }

   .nav-manu a:hover{
            color: var(--primary);
            border-bottom: 3px solid var(--primary) ;
            padding-bottom: 0.8rem;
            background-color: var(--black);
        }
   

        /* header section start  */

header{
    position: relative;
    top: 8rem;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: var(--black);
}

.header-container{
display: flex;
align-items: center;
position:relative;
}
.header-left{
    flex: 1;
}
.header-right{
    flex: 1;
}
.header-right .text-1{
   font-size: 1.8rem; 
   margin-bottom: 0.3rem;
}
.header-right .text-2{
    font-size: 3.6rem;
    font-weight: 550;
}
.header-right .text-3{
   font-size: 2.5rem;
   margin: 0.5rem 0; 
}

header::before{
    content:"" ;
    position: absolute;
    background-color: var(--bg);
    width: 100%;
    height: 5rem;
    bottom: 0;
    margin-bottom: -3.1rem;
    z-index: 99;
    transform: skewY(2deg);
    transform-origin: left;
}

.header-right .typing{
    color: var(--primary);
    font-weight: 500;
}


/* about section start  */

.section{
    text-align: center;
    margin-top: 8rem;
}

.about-cntainer{
display: flex;
margin: auto;
align-items: center;
justify-content:center;
position: relative;
margin-bottom: 2.5rem;
}
.about-cntainer .about-img{
    border: 3px solid var(--primary);
    border-radius: 50%;
    overflow: hidden;
    max-width: 12.5rem;
    max-height: 12.5rem;
    margin-right: 2rem;
    position: relative;
    margin-bottom: 2rem;
}
.about-cntainer .about-text{
max-width:70%;
text-align: justify;
line-height: 1.5rem;
letter-spacing: 0.1rem;
padding-bottom: 2.5rem;
}
.about-cntainer .about-text p{
    margin-bottom: 0.8rem;
}
.about-cntainer .about-text .text{
    margin-bottom: 1rem;
}
.about-cntainer .about-text .text span{
    color: var(--primary);
    font-weight: 500;
}


/* servives section start  */
.services{
    text-align: center;
    margin-top: -8rem;
}
.services-container .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   justify-content: space-between;
   text-align: center;
   margin-bottom: 3rem;
}
.services-container .cards .card{
    background-color: var(--primary);
    padding: 1.5rem;
    margin: 0 1.5rem;
    cursor: pointer;
    position: relative;
}
.sbox i{
    font-size:2rem;
    width: 4rem;
    height: 4rem;
    color: var(--bg);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50%;
    padding:14px;
    transition: all 1s;
}
.sbox h3{
   font-size: 1.7rem;
   color: var(--black); 
}
.sbox p{
    margin: 1.2rem 0;
    color: var(--bg);
}
.sbox a{
    color: var(--normal);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.3rem 1rem;
    background-color: var(--bg);
    border-radius: 1rem;
}
.sbox a:hover{
    background-color: var(--normal);
    color: var(--bg);
    border: 1px solid var(--bg);
}
.services-container .cards .card:hover .sbox i{
background-color: var(--bg);
color: var(--normal);
}

.services-container .cards .card::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--normal);
    position:absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
}
.services-container .cards .card:hover::after{
transform: rotate(13deg);

}

/* skill swction start  */

.skills .new{
    text-align: center;
    margin-top: 8rem;
}
.skills-container{
    display: flex;
    margin: auto;
    position: relative;
    flex-direction: column;
    padding: 1.6rem 1.8rem;
    max-width: 40rem;
    background-color: var(--black);
    border-radius: o.7rem;
    box-shadow: 0.3rem 1.2rem rgba(0,0,0,0.2);
}
 .skills-container .bar{
    margin: 1.2rem 0;

 }

  .skills-container .bar:first-child{
    margin-top: 0rem;

  }

   .skills-container .bar .info{
    margin-bottom: 0.3rem;

   }
 .skills-container .bar .info span{
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
    animation: showtext 0.5s 1s linear forwards ;
 }
 @keyframes showtext{
    100%{
        opacity: 1;
    }
 }

  .skills-container .bar .progress-line{
    height: 10px;
    width: 100%;
    background-color: var(--normal);
    position: relative;
    transform-origin: left;
    border-radius: 0.7rem;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05), 0 1px rgba(255,255,255,0.8);
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;

  }
  
  @keyframes animate{
    100%{
        transform: scaleX(1);
    }
  }

  .bar .progress-line span{
    height: 100%;
    position: absolute;
    border-radius: 0.7rem;
    transform: scaleX(0);
    transform-origin: left;
    background-color: var(--primary);
    animation: animate 1s 3s cubic-bezier(1,0,0.5,1) forwards;
  }

    .bar .progress-line.html span{
        width: 90%;
    }
    .bar .progress-line.css span{
        width: 85%;
    }
    .bar .progress-line.jquery span{
        width: 80%;
    }
    .bar .progress-line.python span{
        width: 50%;
    }
    .bar .progress-line.mysql span{
        width: 75%;
    }
    .progress-line span::before{
       position: absolute;
       content: "";
       top: 0.7rem;
       right: 0;
       height: 0;
       width: 0;
       border: 0.5rem solid transparent; 
       border-bottom-width: 0rem;
       border-right-width: 0rem;
       border-top-color: var(--bg);
       opacity: 0;
       animation:showtext2 0.5s 1s linear forwards;

    }


 .progress-line span::after{
    position: absolute;
    top: -1.8rem;
    right: 0;
    font-weight: 500;
    background-color: var(--bg);
    color: var(--normal);
    padding: 1px 0.5rem;
    font-size: 0.7rem;
    border-radius: 0.2rem;
    opacity: 0;
    animation:showtext2 0.5s 1s linear forwards;
 }

 @keyframes showtext2{
    100%{
        opacity: 1;
    }
 }

 
  .progress-line.html span::after{
       content:"90%";
    }
  .progress-line.css span::after{
       content: "85%";
    }
  .progress-line.jquery span::after{
       content: "80%";
    }
  .progress-line.python span::after{
      content:"50%";
    }
    .progress-line.mysql span::after{
        content: "75%";
    }



    /* my portfolio section start  */

.portfolio-container{
    text-align: center;
    margin-top: 8rem;
}

    .gallary{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        margin: 3rem auto;
        background-color: var(--black);
        border-radius: 2rem;
    }
    .gallary a{
      height: 15rem;
      width: 20rem;
      border-radius: 0.3rem;
      overflow: hidden;
      box-shadow:0 3px 5px var(--primary) ;  
    }
      .gallary a img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .gallary a img:hover{
        transform:scale(1.4) ;
      }



      /* my popular project start  */

      .projects{
        text-align: center;
        margin-top: 8rem;
      }

      .projects-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
      }
      .project{
        background-color: var(--black);
        text-align: center;
        border: 1px solid  transparent;
      }
      .project:hover{
        border: var(--primary);
        background: transparent;
      }

      .project-info{
        padding: 2rem;

      }

       .project-info p{
        margin: 1.2rem;
        font-size: 0.9rem;
       }


       /* <!-- Frequently section start  -->  */

       .faqs{
        text-align: center;
        margin-top: 8rem;
       }

       .faqs-container{
        display: grid;
        grid-template-columns:1fr 1fr;
        gap: 1rem;
        background-color: var(--black);
        box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.5);
       }
       .faq{
        display: flex;
        text-align: center;
        gap: 1.4rem;
        height: fit-content;
        padding: 2rem;
        margin: 1rem;
        background-color: var(--primary);
        color: var(--bg);
        text-align: justify;
        cursor: pointer;
        border-radius: 1rem;
       }
       .faq h4{
        font-size: 1rem;
        line-height: 2.2;
       }
       .faq-icon{
        align-items: flex-start;
        font-size: 2.3rem;
       }
       .faq p{
        margin-top: 0.8rem;
        display: none;
       }

/* for showing ans on click  */

       .faq.open p{
        display: block;
       }


       /* <!-- footer section start  -->  */

footer{
    padding-top: 8rem;
    background-color: var(--black);
    font-size: 0.9rem;
}

.footer-container{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    gap: 5rem;

}

.footer-container > div h4{
margin-bottom: 1.5rem;
}


.footer-1 p{
    margin: 0 0 2rem;
}
footer ul li{
    margin-bottom: 0.7rem;
}
footer ul li:hover{
    text-decoration: underline;
    color: var(--primary);
  
}

.footer-4 .email{
text-transform: lowercase;
}
.footer-socil{
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
    margin-top: 1rem;

}


.footer-copyright{
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
    border-top:1px solid var(--normal);
    margin-bottom:2rem ;
}

/* responsive code start  */

/* media quarey tablet  */

@media screen and (max-width:1024px) {
   .container{
    width: var(--container-width-md);
   }
   h1{
    font-size: 2.2rem;
   }
   h2{
    font-size: 1.7rem;
   }
   h3{
    font-size:1.4rem ;
   }
   h4{
    font-size: 1.2rem;
   }

   .header-right .text-1{
   font-size: 1.2rem; 
}
.header-right .text-2{
    font-size: 2rem;
   
}
.header-right .text-3{
   font-size: 1.5rem;
   
}

.header-right .typing{
   
    font-weight: 450;
}

.btn{
    padding: 0.3rem 1.2rem;
}


/* navbar responsive  */

  nav button{
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--primary);
        cursor: pointer;
    
    }
nav button#close-menu-btn{
    display: none;
}

   .nav-manu{
      position: fixed;
       top: 5rem;
       right: 5%;
    width: 100%;
    height: 3rem;
    gap: 0;
    height: fit-content;
    width: 18rem;
    flex-direction: column;
    display: none;
     /* we will dispaly wirh js   */

}
.nav-manu  li{
    width: 100%;
    height: 3rem;
    animation: animateNavIteams 0.2s linear forwards;
    transform-origin: top right bottom;
    opacity: 0;
}
.nav-manu li a{
    background-color: var(--primary);
    box-shadow:-4rem 6rem 10rem rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    display: grid;
    color: var(--bg);
    place-items: center;
}

.nav-manu li:nth-child(2){
    animation-delay: 0.2s;
}

.nav-manu li:nth-child(3){
    animation-delay: 0.4s;
}

.nav-manu li:nth-child(4){
    animation-delay: 0.6s;
}

.nav-manu li:nth-child(5){
    animation-delay: 0.8s;
}

.nav-manu li:nth-child(6){
    animation-delay: 1s;
}

.nav-manu li:nth-child(7){
    animation-delay: 1.2s;
}


@keyframes animateNavIteams{
0%{
transform: rotateZ(90deg);
}
    
100%{
transform: rotateZ(0deg);
opacity: 1;
}
    
}



.services-container .cards{
    row-gap: 1rem;
    grid-template-columns: repeat(2,1fr);
}
.services-container .cards .card{
    padding: 1rem 1.3rem;
    margin: 0 0.5rem;
}
.services-container .cards .card:hover::after{
transform: rotate(5deg);

}

     .gallary a{
      height: 14rem;
      width: 18rem;
      border-radius: 0.3rem;
      overflow: hidden;
      box-shadow:0 3px 5px var(--primary) ;  
    }


      .projects-container{
        
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
      }


       .faqs-container{
        grid-template-columns:1fr;
       }
.faq{
    padding: 1.5rem;
}


.footer-container{
    grid-template-columns:repeat(2,1fr) ;
    gap: 2rem;

}



}



/* queary mobile responsive  */

@media screen and (max-width:768px) {
    
    .container{
        width: var(--container-width-sm);
    }

 .nav-manu{
    right:3% ;
 }

   .header-right .text-1{
   font-size: 1rem; 
}
.header-right .text-2{
    font-size: 1.2rem;
   
}
.header-right .text-3{
   font-size: 1.2rem;
   
}
.header-right a{
    margin-bottom: 0.3rem;
}

.btn{
    padding: 1.3rem 1.2rem;
}

.about-cntainer{
    flex-direction: column;

}



.services-container .cards{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.services-container .cards .card{
    padding: 3rem 1rem;
    margin: 1rem 1rem;
}
.services-container .cards .card:hover::after{
transform: rotate(5deg);

}


    .gallary a{
      width: 25rem;
    }


      .projects-container{
        
        grid-template-columns:1fr;
        width: 80%;
      }
  .projects-container .project{
    margin-bottom: 1rem;
  }

.footer-container{
    grid-template-columns:1fr;
    text-align: center;
    gap:2rem;

}

.footer-socil{
    justify-content: center;
}






/* .services-container .cards{
    row-gap: 1rem;
    grid-template-columns: repeat(1,1fr);
}


   .projects-container{
        
        grid-template-columns: repeat(1,1fr);
        gap: 1rem;
      }

 .gallary a{
    width: 25rem;
 } */


}